@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #fff;
}

body {
    background-color: #200F21;
}

/* navbar */
header {
    background-color: #382039;
    box-shadow: 4px 4px 10px 0px #00000070;
    padding-right: 140px;
    padding-left: 140px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

.nav__brand h4 {
    font-size: 1.3em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.nav__brand span {
    color: #ff0;
}

.nav__menu {
    display: flex;
    justify-content: space-around;
    width: 35%;
    list-style: none;
    font-size: .9em;
}

.nav__menu a {
    color: #fff;
    text-decoration: none;
    letter-spacing: .1em;
}

.nav__menu a:hover {
    margin: -.2rem -.5rem;
    padding: .2rem .5rem;
    border-radius: .3rem;
    background-color: #8B2B80;
}

/* chart */
.chart {
    padding: 0 140px;
    padding-top: 143px;
    width: 100vw;
    overflow: auto;
}

.chart h3 {
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 25px;
}

.chart__card {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #382039;
    padding: 22px 34px;
    border-radius: 6px;
}

/* main */
main {
    padding: 0 140px;
    width: 100vw;
    overflow: auto;
}

#content {
    margin: 85px 0;
    width: 60%;
    float: left;
}

#content h3 {
    font-size: 1.7em;
    font-weight: 500;
    margin-bottom: 25px;
}

#content small {
    font-weight: 400;
    margin-bottom: 100px;
}

.info__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 20px;
    margin-bottom: 20px;
}

.info__section {
    width: 100%;
    background-color: #382039;
    padding: 22px 34px;
    border-radius: 6px;
    color: #ff0;
}

.info__section label {
    font-weight: 400;
}

.info__section h1 {
    width: 100%;
    font-weight: 500;
    font-size: 3.5em;
    margin: 0;
    text-align: end;
    line-height: 4rem;
}

.artikel__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
}

.artikel__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #382039;
    padding: 20px 36px;
    border-radius: 6px;
}

.artikel__section label {
    font-weight: 400;
    margin-bottom: 10px;
}

.artikel__section h4 {
    font-size: 1.3em;
    font-weight: 500;
    margin-bottom: 20px;
}

.artikel__section a {
    text-decoration: none;
    color: #fff;
}

.artikel__section a:hover {
    color: #ff0;
}

.artikel__section p {
    font-weight: 300;
}

.break_bottom-100 {
    margin-bottom: 100px;
}

aside {
    margin: 85px 0;
    float: right;
    width: fit-content;
}

aside h3 {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 25px;
}

aside table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 100px;
}

aside table th {
    background-color: #382039;
}

aside table tr th:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

aside table tr th:nth-child(3) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

aside table tr td:nth-child(1) {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

aside table tr td:nth-child(3) {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

aside table td,th {
    border: 1px solid #200F21;
    text-align: left;
    padding: 8px;
    font-size: .9em;
    font-weight: 400;
}

aside table th {
    text-align: center;
    font-weight: 500;
}

aside table tr:nth-child(even) {
    background-color: #482A49;
}

.tentang__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
}

.tentang__section {
    width: 100%;
    background-color: #3D253F;
    padding: 10px 26px;
    border-radius: 6px;
}

.tentang__section p {
    font-size: .8em;
}

.tentang__section ul {
    list-style: none;
}

.tentang__section ul li {
    font-size: .8em;
    margin: 5px 0;
}

.tentang__section a {
    text-decoration: none;
    color: #ff0;
}

/* footer */
footer {
    padding: 25px 140px;
    display: flex;
    justify-content: space-between;
    font-size: .8em;
}

footer a {
    text-decoration: none;
    color: #ff0;
}

@media screen and (max-width: 1024px) {
    /* navbar */
    header {
        padding-left: 60px;
        padding-right: 60px;
    }
    .nav__brand h4 {
        font-size: 1.2em;
    }
    .nav__menu {
        font-size: .7em;
    }

    /* chart */
    .chart {
        padding: 0 60px;
        padding-top: 120px;
    }

    /* main */
    main {
        padding: 0 60px;
    }
    #content {
        width: 50%;
    }
    .info__wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    .info__section {
        padding: 22px 25px;
    }
    .info__section h1 {
        font-size: 3em;
    }

    /* footer */
    footer {
        padding: 25px 60px;
    }
}

@media screen and (max-width: 768px) {
    /* navbar */
    nav {
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
    }
    .nav__brand {
        margin-bottom: 1rem;
    }
    .nav__menu {
        width: 60%;
    }

    /* chart */
    .chart {
        padding-top: 140px;
    }

    /* main */
    #content, aside {
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 486px) {
    /* navbar */
    .nav__menu {
        width: 100%;
    }

    /* chart */
    .chart {
        padding: 0 25px;
        padding-top: 140px;
    }
    .chart__card {
        padding: 20px 18px;
    }

    /* main */
    main {
        padding: 0 25px;
    }
    #content h3 {
        font-size: 1.6em;
    }
    .info__wrapper {
        grid-template-columns: 1fr;
    }
    .artikel__section {
        padding: 16px 20px;
    }
    .artikel__section label {
        font-size: .8em;
        margin-bottom: 8px;
    }
    .artikel__section h4 {
        font-size: 1em;
        margin-bottom: 15px;
    }
    .artikel__section p {
        font-size: .8em;
    }

    /* footer */
    footer {
        padding: 25px 25px;
    }
}

